

h1 {
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
   
}

body {
    font-size: 16px;
    background-color: rgb(240, 239, 239);
}

#am {
    background-color: yellow;
}

#ver {
    background-color: red;
}

#ma {
    background-color: brown;
}
