.App {
  font-family: sans-serif;
  text-align: center;
};

.eye {
  margin-left: -800px;
}

.password--input {
  align-items: center;
  display: flex;
}

.password--input label {
  font-family: tahoma;
  font-size: 12px;
  margin-right: 4px;
}